
# path
/data/
/expdata/
/runs/
/weights/
/__pycache__/
__pycache__/

/.vscode/

# file
*.wav
*.txt
*.csv
*.onnx
*.pb
*.json
*.jpg
*.png
*.hdf5
*.csv
*.pyc
*.xml
*.zip
*.vscode
*.yaml
*.html

*.db

# other
sync.sh
syncignore.txt
*.pc
idea
