
# path
/data/
/expdata/
/runs/
/weights/
/__pycache__/
__pycache__/

/.vscode/
/packages/langchain_/vectordb/
/packages/langchain_/models/

# file
*.bin
*.log
*.wav
*.txt
*.csv
*.onnx
*.pb
*.json
*.jpg
*.png
*.hdf5
*.csv
*.pyc
*.xml
*.zip
*.vscode
*.yaml
*.html
*.xlsx
*.ini
*.db

# other
sync.sh
syncignore.txt
*.pc
idea
